name: Check if versions are consistent

on: pull_request

jobs:
  check-version-numbers:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v5
        with:
          python-version: '3.10'
          poetry-version: "2.1.2"
      - name: Check Release
        run: poetry run -- python3 -u scripts/build/check_release.py
